// colores
$fontLight: #e2e8f0;
$primary: #0dc468;
$bgDark: #0f172a;

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// default
$borderRadius: 10px;
$boxShadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
$transition: all 0.3s;